In [1]:
import pandas as pd

In [21]:
df = pd.DataFrame({
    'product_name': [
        'Product A', 'Product A', 'Product A',
        'Product B', 'Product B',
        'Product C', 'Product C',
        'Product D',
        'Product E', 'Product E',
    ],
    'rating': [4.5, 3.8, 4.2, 4.0, 3.5, 3.5, 4.1, 4.8, 3.2, 3.9],
    'review_text': [
        'Great product!', 'Decent but overpriced.', 'Solid quality.',
        'Good value for money.', 'Could be better.',
        'Average quality.', 'Surprisingly good!',
        'Excellent!',
        'Poor quality.', 'Improved over time.',
    ],
    "price": [100, 110, 95, 50, 55, 200, 180, 75, 15, 20],
})

In [22]:
df.head()

  product_name  rating             review_text  price
0    Product A     4.5          Great product!    100
1    Product A     3.8  Decent but overpriced.    110
2    Product A     4.2          Solid quality.     95
3    Product B     4.0   Good value for money.     50
4    Product B     3.5        Could be better.     55

In [8]:
avg_rating = df[df["price"] > 50]["rating"].mean()
print(f"Average rating for products priced above 50: {avg_rating}")

Average rating for products priced above 50: 4.0

In [20]:
product_with_highest_rating_under_20 = df[df["price"] < 20]['rating'].idxmax()
print(product_with_highest_rating_under_20)
product_info = df.loc[product_with_highest_rating_under_20]
print(f"Product with the highest rating among those priced under 20: {product_info['product_name']} with a rating of {product_info['rating']}")

5
Product with the highest rating among those priced under 20: Product F with a rating of 4.1

In [24]:
avg_rating_product = df.groupby("product_name")["rating"].mean()
print("Average rating for each product:")
print(avg_rating_product)

Average rating for each product:
product_name
Product A    4.166667
Product B    3.750000
Product C    3.800000
Product D    4.800000
Product E    3.550000
Name: rating, dtype: float64

In [26]:
product_with_highest_rating = avg_rating_product.idxmax()
print(f"Product with the highest rating: {product_with_highest_rating}")

Product with the highest rating: Product D

In [27]:
no_reviews_per_product = df.groupby("product_name")["review_text"].count()
print("Number of reviews for each product:")
print(no_reviews_per_product)

Number of reviews for each product:
product_name
Product A    3
Product B    2
Product C    2
Product D    1
Product E    2
Name: review_text, dtype: int64

In [28]:
grouped_df = df.groupby("product_name").agg({
    "rating": "mean",
    "review_text": "count",
    "price": "mean"
})
grouped_df

                rating  review_text       price
product_name
Product A     4.166667            3  101.666667
Product B     3.750000            2   52.500000
Product C     3.800000            2  190.000000
Product D     4.800000            1   75.000000
Product E     3.550000            2   17.500000

In [29]:
categories_df = pd.DataFrame({
    'product_name': ['Product A', 'Product B', 'Product C', 'Product D', 'Product E'],
    'category': ['Electronics', 'Clothing', 'Electronics', 'Home & Kitchen', 'Clothing']
})

In [30]:
merged_df = df.merge(categories_df, on='product_name')
merged_df

  product_name  rating             review_text  price        category
0    Product A     4.5          Great product!    100     Electronics
1    Product A     3.8  Decent but overpriced.    110     Electronics
2    Product A     4.2          Solid quality.     95     Electronics
3    Product B     4.0   Good value for money.     50        Clothing
4    Product B     3.5        Could be better.     55        Clothing
5    Product C     3.5        Average quality.    200     Electronics
6    Product C     4.1      Surprisingly good!    180     Electronics
7    Product D     4.8              Excellent!     75  Home & Kitchen
8    Product E     3.2           Poor quality.     15        Clothing
9    Product E     3.9     Improved over time.     20        Clothing

In [32]:
avg_rating_per_category = merged_df.groupby("category")["rating"].mean()
print("Average rating for each category:")
print(avg_rating_per_category)

Average rating for each category:
category
Clothing          3.65
Electronics       4.02
Home & Kitchen    4.80
Name: rating, dtype: float64